<!doctype html>
<html ⚡>
<head>
   <meta charset="utf-8">
   <link rel="canonical" href="amp-starter.html">
   <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
   <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
   <script async src="https://cdn.ampproject.org/v0.js"></script>
   <style amp-custom>
    /*CSS Goes Here*/
   </style>
</head>
<body>
  <h1>Hello World!</h1>
  <h2>Responsive</h2>
  <amp-img src="../assets/cat-meme.jpg" alt="coder cat says I found the bug and ate it" height="836" width="625" layout="responsive"></amp-img>

  <h2>Fixed</h2>
  <amp-img src="../assets/cat-meme.jpg" alt="coder cat says I found the bug and ate it" height="836" width="625" layout="fixed"></amp-img>
  <h2>Fixed Height</h2>

  <amp-img src="../assets/cat-meme.jpg" alt="coder cat says I found the bug and ate it" height="625" layout="fixed-height"></amp-img>

  <!-- <h2>Fill</h2>
  <amp-img src="../assets/cat-meme.jpg" alt="coder cat says I found the bug and ate it" height="400" width="800" layout="fill"></amp-img> -->


</body>
</html>
